<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    
</head>
<body >
    <div class="main">
        <div class="navbar">
            <ul class="ul">
                <li id="home"><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'services' %}">SERVICES</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
            </ul>
            <div class="form">
            <form action="#">
                <input type="text" name="search" id="search">
                <button class="search">SEARCH</button>
            </form>
            </div>
        </div>
        <div>
            <h1 class="heading">Welcome To Home Page</h1>
        </div>
        <div class="img">
            <img src="{% static 'images/1.jpg' %}" alt="no image">
        </div>
        
    </div>
</body>
</html>